@use 'bootstrap' as c;
@use 'sass:color';
@use 'sass:map';

.header {
  --w-max-content: 1920px;
  --header-gutter: clamp(24px, 2vw, 48px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  &__container {
    max-width: var(--w-max-content);
    padding: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: var(--header-gutter);
    margin: 0 auto;
  }

  &__logo-wrap {
    width: calc(100% / 3);
    margin: 0;
    color: var(--c-foreground);
  }

  &__logo-title {
    @include c.a11y();
  }

  &__logo {
    fill: var(--c-foreground);

    &--lg {
      display: none;
    }

    &--sm {
      max-width: 125px;
      max-height: 32px;
      vertical-align: middle;
    }
  }

  &__logo-terminal {
    opacity: 1;
  }

  &__logo-letter {
    opacity: 1;
  }

  &__nav {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;

    &--closed {
      display: none;
      inset-inline-start: 100%;
    }
  }

  &__nav-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 80%;
    padding: c.fluid-spacing(32px, 56px);
    margin-inline-start: auto;
    background: var(--c-menu-bg);
    box-shadow: 0 0 1.25rem 0 color.adjust(map.get(c.$color-menu, 'dark'), $alpha: 0.2);
  }

  [data-theme='light-mode'] &__nav-inner {
    box-shadow: 0 0 1.25rem 0 color.adjust(map.get(c.$color-menu, 'light'), $alpha: 0.2);
  }

  &__nav-close {
    position: absolute;
    inset-block-start: c.fluid-spacing(32px, 56px);
    inset-inline-end: c.fluid-spacing(32px, 56px);
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--c-accent);
    background: none;
    border: 0;
    cursor: pointer;
    transition: color .2s ease-out;

    &:hover {
      color: var(--c-foreground);
    }
  }

  &__nav-title {
    margin-block-start: 0;
  }

  &__nav-list {
    padding-inline: 0;
    margin-block-end: 0;
    list-style: none;
  }

  &__nav-item {
    margin-block: 0;
    text-transform: lowercase;

    & + & {
      margin-block-start: 2.5rem;
    }
  }

  &__nav-link {
    display: block;
    color: var(--c-action);
    font-weight: 400;
    transition: color .2s ease-out;

    &:hover {
      color: var(--c-selection);
    }
  }

  &__link-bar {
    display: inline-block;
    margin-inline-end: .125rem;
    color: var(--c-extra-1);
  }

  &__link-text {
    display: inline-block;
  }

  &__nav-link:hover &__link-text {
    text-decoration: wavy underline var(--c-accent);
    text-decoration-thickness: 2px;
  }

  &__nav-triggers {
    display: flex;
    gap: 1.75rem;
    align-items: center;
  }

  &__theme-toggle {
    padding: 0;
    margin-left: auto;
    color: var(--c-accent);
    background: none;
    border: 0;
    cursor: pointer;
    transition: color .2s ease-out;

    &:hover {
      color: var(--c-foreground);
    }
  }

  &__toggle-label {
    @include c.a11y();
  }

  &__toggle-icon {
    fill: currentColor;
    width: 6.4vw;
    height: auto;
    max-width: 1.5rem;

    &--moon {
      display: none;
      transition: transform .2s ease-out;
    }

    &--sun {
      display: block;
    }

    &--menu {
      width: 9.144vw;
      max-width: 2.143rem;
    }
  }

  &__theme-toggle:hover &__toggle-icon--moon {
    transform: rotate(35deg);
  }

  [data-theme='light-mode'] &__toggle-icon {
    &--moon {
      display: block;
      transform-origin: 50% 50%;
    }

    &--sun {
      display: none;
    }
  }

  &__icon-rays {
    transform-origin: center center;
    transition: transform .2s ease-out;
  }

  &__theme-toggle:hover &__icon-rays {
    transform: rotate(45deg);
  }


  &__icon-bar {
    transform-origin: center right;
    transition: transform .2s ease-out;
  }

  &__menu-toggle {
    padding: 0;
    color: var(--c-accent);
    background: none;
    border: 0;
    cursor: pointer;
    transition: color .2s ease-out;

    &:hover {
      color: var(--c-foreground);
    }
  }

  &__menu-toggle:hover &__icon-bar {
    &--top {
      transform: scaleX(1.429);
    }

    &--bottom {
      transform: scaleX(1.999);
    }
  }
}

@media screen and (min-width: 840px) {
  .header {
    &__logo-wrap {
      position: relative;
      width: 20%;

      &::after {
        content: '';
        position: absolute;
        inset-block-start: 50%;
        inset-inline-end: 0;
        height: 80%;
        border-right: 2px solid var(--c-extra-1);
        transform: translateY(-50%);
      }
    }

    &__inner {
      gap: 1.875rem;
      justify-content: flex-start;
    }

    &__nav {
      position: relative;
      inset-block-start: auto;
      inset-inline-start: auto;
      width: auto;
      height: auto;

      &--closed {
        display: block;
      }
    }

    &__nav-inner {
      padding: 0;
      max-width: 100%;
      height: 100%;
      background: none;
      box-shadow: none;
    }

    [data-theme='light-mode'] &__nav-inner {
      box-shadow: none;
    }

    &__nav-close {
      display: none;
    }

    &__nav-title {
      display: none;
    }

    &__nav-list {
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__nav-item {
      & + & {
        margin-block-start: 0;
        margin-inline-start: 2.5rem;
      }
    }

    &__nav-triggers {
      justify-self: flex-end;
      margin-inline-start: auto;
    }

    &__menu-toggle {
      display: none;
    }
  }
}

@media screen and (min-width: c.$breakpoint-xxl) {
  .header {
    &__inner {
      gap: 3.375rem;
    }

    &__logo-wrap {
      width: 31.875%;
      max-width: 480px;
      padding-inline-end: 3.375rem;
    }

    &__logo {
      &--lg {
        display: block;
      }

      &--sm {
        display: none;
      }
    }

    &__logo-terminal {
      opacity: 0;
      transform-origin: 50% 50%;

      &--init {
        opacity: 1;
      }

      &--end {
        opacity: 1;
      }

      &--init#{&}--end {
        opacity: 0;
      }
    }

    &__logo--sm &__logo-terminal {
      opacity: 1;
    }

    &__logo-letter {
      opacity: 0;

      &--m {
        opacity: 1;
      }

      &--c {
        opacity: 0;
      }

      &--init {
        opacity: 1;
      }

      &--end {
        opacity: 1;
      }

      &--init#{&}--end {
        opacity: 0;
      }
    }
  }
}