@use 'bootstrap' as c;
@use 'base';
@use 'vendors';

:root {
	color-scheme: light dark;
	--gutter: clamp(24px, 2vw, 48px);
	--max-content: 1920px;
	--foreground-color: #d6deeb;
	--accent-color: #c792ea;
	--background-color: #011627;
	--selection-color: #80a4c2;
}

.light-mode {
	--foreground-color: #403f53;
	--accent-color: #994cc3;
	--background-color: #fbfbfb;
	--selection-color: #90a7b2;
}