@use 'base';
@use 'vendors';

:root {
  color-scheme: light dark;
  // (S)pacing
  --s-gutter-left: clamp(1.5rem, 0.591rem + 4.545vw, 4rem);
  --s-gutter-right: clamp(1.5rem, 0.3rem + 6vw, 7.5rem);
  // (L)ayout
  --l-max-content: 102.5rem;
  // (T)ypography
  --t-font: 'Fira Code', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --t-line-height: 1.5;
  // (C)olors
  --c-foreground: #d6deeb;
  --c-background: #011627;
  --c-action: #c792ea;
  --c-selection: #80a4c2;
  --c-success: #addb67;
  --c-accent-1: #f78c6c;
  --c-accent-2: #82aaff;
  --c-accent-3: #7fdbca;
  --c-accent-4: #02223C;
  --c-invalid: #ff2c83;
  --c-menu-bg: #1d3b53;
  --c-header-bg: rgb(1, 22, 39, .5);
}

.light-mode {
  --c-foreground: #403f53;
  --c-background: #fbfbfb;
  --c-action: #994cc3;
  --c-selection: #90a7b2;
  --c-success: #0c969b;
  --c-accent-1: #bc5454;
  --c-accent-2: #4876d6;
  --c-accent-3: #93a1a1;
  --c-accent-4: #d6d6d6;
  --c-menu-bg: #e0e0e0;
  --c-header-bg: rgb(251, 251, 251, .7);
}

@media (prefers-color-scheme: light) {
  :root {
    --c-foreground: #403f53;
    --c-background: #fbfbfb;
    --c-action: #994cc3;
    --c-selection: #90a7b2;
    --c-success: #0c969b;
    --c-accent-1: #bc5454;
    --c-accent-2: #4876d6;
    --c-accent-3: #93a1a1;
    --c-menu-bg: #e0e0e0;
    --c-header-bg: rgb(251, 251, 251, .7);
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.sr-only {
  @include c.a11y();
}

.btn {
  padding: 0;
  background: none;
  border: 0;
  appearance: none;
}

.tooltip {
  padding: .5rem .75rem;
  font-size: .875rem;
  line-height: .86;
  color: var(--c-background);
  text-transform: lowercase;
  border-radius: .5rem;
  background: var(--c-action);
}

.container {
  max-width: var(--l-max-content);
  padding: 0 var(--s-gutter-right) 0 var(--s-gutter-left);
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    --s-gutter-left: 10.5rem;
  }
}

@media screen and (min-width: 102.5rem) {
  .container {
    margin-left: 0;
  }
}