.icon-list-block {
  &__heading {
    max-width: calc(100% - 2rem);
    margin-block-end: .75em;
    color: var(--c-accent);
    font-size: .75rem;
  }

  &__frame {
    max-width: calc(100% - 2rem);
  }

  &__list {
    // display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // flex-wrap: wrap;
    gap: 2.5rem 2.875rem;
    align-items: center;
    padding-block: 2.5rem;
    padding-inline: 2rem;
    margin-block-end: 1rem;
    list-style: none;
  }

  &__item {
    margin: 0;
    text-align: center;
    color: var(--c-extra-1);
    font-size: .75rem;
  }

  &__icon {
    width: 100%;
    height: auto;
    // max-width: 4rem;
    vertical-align: middle;
  }
}